extends ../template0/template0

block content0
  div#sidebar.fl
    div#tags
      h2 tags
      ul#tag-list
        each count, tag in tags
          li
            a(href='/posts/0/' + tag) #{tag}(#{count})
  div#main-content.fl
    div#posts
      each post in posts
        div.post-item
          div.title
            a(href='/post/' + post._id) #{post.title}
          div.summary !{post.summary}
          div.pubDate pub on #{post.pubDate.toDateString()}
