extends template0

block content0
  div#post-block
    div#post
      h2#post-title #{post.title}
      div#post-tags tags: 
        each tag in post.tags
          a(href='/posts/0/' + tag) #{tag} 
      div#post-pubDate pub on #{post.pubDate.toDateString()}
      div#post-updateDate last modified on #{post.updateDate.toDateString()}
      div#post-content !{post.content}
    div#comment-box
      form#comment-form(action='/s-comment' method='POST')
        input.hide(type='text' name='id' disabled='true' value=post._id)
        input.hide(type='text' name='replying' disabled='true' value='-1')
        div
          label name
          input(type='text' name='name' required)
        div
          label email
          input(type='email' name='email')
        div
          label comment
          textarea(name='comment' required)
        div
          button(type='submit') submit
      div#comment-list
        h2.header comments(#{post.comments.length})
        each comment, floor in post.comments
          div.comment-item
            if comment.replying != -1
              div.comment-header ##{floor} #[em #{comment.name}] replying ##{comment.replying}:
            else
              div.comment-header ##{floor} #{comment.name}:
            div.comment-content #{comment.content}
            div.comment-footer
              | on #{comment.date.toDateString()} 
              a.reply-anchor(href=floor) reply
  script(src='/javascripts/lib.js')
  script(src='/javascripts/post.js')
